div#main {
    padding-top: 60px;
    font-size: 15px;
}
h1 {
    font-size: 45px;
    font-weight: 600;
}
h1#head1 {
    margin-top: 2ex;
    margin-bottom: 0.5ex;
}
h1#head2 {
    margin-top: 0ex;
    margin-bottom: 1.7ex;
}
h1 .subtitle {
    font-weight: 300;
}
h2 {
    font-size: 24px;
    margin-top: 6ex;
    margin-bottom: 2ex;
}
h3 {
    font-size: 18px;
    margin-top: 2ex;
    margin-bottom: 1ex;
}
a.accordion-toggle h3 {
    color: black;
}

p.courseinfo {
    font-size: 22px;
    margin-bottom: 0px;
}
p.staff {
    font-size: 18px;
    margin-top: 0ex;
}
p.coursedesc {
    font-size: 14px;
    margin-top: 5ex;
}

table.sched {
    width: 100%;
    border-collapse: collapse;
}
table.sched th {
    padding: .5ex .5em;
    margin: 0;
    font-weight: bold;
    text-align: left;
}
table.sched td {
    padding: .3ex .5em;
    margin: 0;
    vertical-align: middle;
    text-align: left;
    border-style: none solid;
    border-color: #ddd;
    border-width: 0px 1px;
}
table.sched tr { padding: 0; margin: 0 }

table.sched th.month, table.sched td.month,
table.sched th.day, table.sched td.day,
table.sched td.sec { width: 1px }
table.sched th.ref, table.sched td.ref,
table.sched th.hwdue, table.sched td.projdue {
    text-align: center;
    width: 1px;
}
table.sched td.day { text-align: right }
table.sched td.sec { text-align: left }
table.sched th.month { text-align: center }

table.sched th.month,
table.sched td.day,
table.sched td.sec { padding-left: 12px }
table.sched td.month { padding-left: 0.2em; border-left-width: 0 }
table.sched td.day { padding-left: 2em; padding-right: 0.2em; border-right-width: 0 }
table.sched td.day,
table.sched td.sec { border-left-width: 0 }
table.sched td.projdue {
    border-right-width: 0;
    width: 10em;
}

table.sched tr.evn { background-color: #fff; }
table.sched tr.odd { background-color: #eee; }
table.sched tr.now { background-color: #ff4; }
table.sched tr.exam { background-color: #bb9; }
table.sched tr.exam td.ref { color: #bb9 }
table.sched tr.exam td.ref a.dis { color: #bb9 }
table.sched tr.due { background-color: #eee; }
table.sched tr.due td.ref { color: #eee }
table.sched tr.due td.ref a.dis { color: #eee }
table.sched tr.evn td { border-color: #eee }
table.sched tr.odd td { border-color: #fff }
table.sched td.ref { color: #888 }
table.sched tr.dis { color: #888 }
table.sched tr.dis td.ref { color: #fff }
table.sched tr.dis td.ref a.dis { color: #fff }
table.sched tr.header {
    color: white;
    background-color: #888;
    border-top: 6px solid white;
}

div.homework {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px 30px;
    margin: 30px 0px;
    background-color: #ddd;
}
div.homework h3 {
    font-size: 20px;
    margin-top: 0ex;
    margin-bottom: 0ex;
}
div.accordion-inner {
    margin-top: 15px;
    padding-top: 15px;
}
div.accordion-group {
    margin-top: 20px;
    margin-bottom: 0px;
    float: none;
}
h3 .subtitle {
    font-weight: 300;
}
img.hwpic {
    float: right;
    padding: 5px;
    border: 1px solid black;
    margin: 10px;
}
div.proj-steps {
    padding: 0;
    margin: 0 0 0 2em;
}
code {
    background: none;
    border: none;
}

#uiContainer td {
    margin: 10px;
    width: 500px;
    height: 30px;
}