.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.display {
    top: 0px;
    left: 0px;
}

.invert {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}