.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.display {
    top : 0px;
    left: 0px;
}

.videocontainer {
    width: 1200px;
    height: 800px;
}

.centerwithoutsize {
    margin: auto;
}

.centerwithsize {
    width: 30%;
    margin: auto;
}

.border {
    border: 3px solid grey;
}

.invert {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}
.carousel-control.right {
    right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    background: #c0c0c0;
}
.carousel-indicators .active {
    background: #333333;
}